<div class="page">
  <div class="top">
    <img class="logo" src="../../assets/login/logo.png">
  </div>
  <div class="content">
    <!-- 登录卡片 -->
    <div class="login-box" *ngIf="moduleIndex == 1">
      <div class="tip-img"></div>
      <span class="tip">欢迎登录亲知科技</span>
      <div class="phone-box" style="margin-top: 29px;">
        <img class="phone-icon" src="../../assets/login/phone.png">
        <input class="phone" type="text" placeholder="请填写手机号" [(ngModel)]="loginPhone">
      </div>
      <div class="password-box">
        <img class="password-icon" src="../../assets/login/password.png">
        <input class="password" type="password" placeholder="请填写密码" [(ngModel)]="loginPassword">
      </div>

      <div class="verify-box">
        <input class="code" type="text" maxlength="4" placeholder="请填写验证码" [(ngModel)]="verifyCodeStr">
        <img class="verify" [src]="base64" (click)="randomVerifyCode()" />
      </div>
      <button class="login" (click)="login()">登录</button>
      <div class="wechat" (click)="wechatLogin()">
        <img class="img" src="../../assets/common/wechat.png">
        <div class="tip">微信登录</div>
      </div>
      <div class="child-box">
        <div class="register" (click)="changeModule(2)">立即注册</div>
        <div class="forget" (click)="changeModule(3)">忘记密码</div>
      </div>
    </div>
    <!-- 注册卡片 -->
    <div class="register-box" *ngIf="moduleIndex == 2">
      <span class="tip">欢迎注册亲知科技</span>
      <input class="phone" type="text" placeholder="请填写手机号" [(ngModel)]="registerPhone">
      <div class="code-box">
        <input class="code" type="text" placeholder="请输入验证码" [(ngModel)]="registerCodeStr">
        <span class="check" (click)="sendCode(2)" *ngIf="unClickTime == 0">获取验证码</span>
        <span class="check" *ngIf="unClickTime != 0" style="color:#999999;">{{unClickTime}}秒后重新获取</span>
      </div>
      <input class="password" type="password" placeholder="请填写密码" [(ngModel)]="registerPassword">
      <input class="password" type="password" placeholder="请再次填写密码" [(ngModel)]="registerAgainPassword">
      <div class="child-box">
        <div class="login" (click)="changeModule(1)">返回登录</div>
        <div class="forget" (click)="changeModule(3)">忘记密码?</div>
      </div>
      <button class="register" (click)="register()">注册</button>
    </div>
    <!-- 修改密码卡片 -->
    <div class="forget-box" *ngIf="moduleIndex == 3">
      <span class="tip">让我们帮您找回密码</span>
      <input class="phone" type="text" placeholder="请填写手机号" [(ngModel)]="forgetPhone">
      <div class="code-box">
        <input class="code" type="text" placeholder="请输入验证码" [(ngModel)]="forgetCodeStr">
        <span class="check" (click)="sendCode(3)" *ngIf="unClickTime == 0">获取验证码</span>
        <span class="check" *ngIf="unClickTime != 0" style="color:#999999;">{{unClickTime}}秒后重新获取</span>
      </div>
      <input class="password" type="password" placeholder="请填写新密码" [(ngModel)]="forgetPassword">
      <input class="password" type="password" placeholder="请再次填写新密码" [(ngModel)]="forgetAgainPassword">
      <div class="child-box">
        <div class="login" (click)="changeModule(1)">返回登录</div>
        <div class="register" (click)="changeModule(2)">立即注册</div>
      </div>
      <button class="forget" (click)="forget()">确认</button>
    </div>
    <!-- elementUI加载框 -->
    <div class="loading" [el-loading]="loading" [text]="loadingTip" [full-screen]="true"></div>
  </div>
  <div class="bottom">
    <div class="title">2020 &copy; 亲知科技 Power by KnowTech</div>
  </div>
</div>