<div class="page" style="height: 100vh;">
  <div class="search-box">
    <div class="input-box">
      <input class="search" type="text" [(ngModel)]="searchStr" placeholder="请输入要搜索的名称">
      <img class="icon" src="../../assets/user/search.png" (click)="search()">
    </div>
    <div class="add-box" (click)="addNewQuestion()">
      <img class="add" src="../../assets/user/add.png">
      <div class="tip">添加新题目</div>
    </div>
  </div>

  <div class="column">
    <div class="tip" style="margin-left: 0px;">题目名称</div>
    <div class="tip">题目图片</div>
    <div class="tip">科目</div>
    <div class="tip">修改时间</div>
    <div class="tip">操作</div>
  </div>

  <div class="list">
    <div class="item" *ngFor="let question of questionList">
      <div class="name">{{question.name}}</div>
      <div class="cover-box">
        <img class="cover" src="{{question.image}}">
      </div>
      <div class="grade">{{getSubjectName(question.subject)}}</div>
      <div class="time">{{question.createTimeStr}}</div>
      <div class="button">
        <div class="edit" (click)="edit(question)">编辑</div>
        <div class="delete" (click)="delete(question)">删除</div>
      </div>
    </div>
  </div>

  <el-pagination class="pagination" [model]="pageIndex" (modelChange)="changePage($event)" [total]="totalCount"
    [page-size]="20" [layout]="['prev', 'pager', 'next', 'total']">
  </el-pagination>
  <!-- 此处dialog暂用样式，后期考虑封装 -->
  <el-dialog [title]="'提示'" [(visible)]="deleteTip" [center]="true" width="25%" top="36%">
    <div class="content" style="display: flex;flex-direction:column;align-items: center;">
      <span>确定是否删除这题目？</span>
      <div class="button" style="margin-top:24px;">
        <el-button (click)="dialogCancel()">取消</el-button>
        <el-button type="primary" (click)="dialogSure()" style="margin-left: 24px;">确定</el-button>
      </div>
    </div>
  </el-dialog>
  <!-- 画布截取 -->
  <div class="frame-dialog" [ngStyle]="{'display': isShowFrame ? 'block' : 'none' }">
    <div class="bg"></div>
    <div class="frame-main">
      <input id="frame-resource" class="upload" type="file" (change)="uploadResource($event.target.files)"
        style="display: none;">
      <div class="content-box">
        <div class="frame-box" [ngStyle]="{'width': frameWidth, 'height': frameHeight }">
          <img class="image" width="{{canvasWidth}}" height="{{canvasHeight}}" [src]="readySrc">
          <canvas id="canvas" width="{{canvasWidth}}" height="{{canvasHeight}}"></canvas>
        </div>
        <!-- <div class="tip">当前选取坐标为:{{currentStartX}},{{currentStartY}}和{{currentEndX}},{{currentEndY}}</div> -->
        <div class="diviler"></div>
        <div class="button-box">
          <div class="cancel" (click)="frameCancel()">取消</div>
          <div class="reset" (click)="frameReset()">重置</div>
          <div class="sure" (click)="frameNewSure()">确定</div>
        </div>
      </div>
    </div>
  </div>
  <!-- 添加框 -->
  <div class="question-add-box" *ngIf="isEditQuestion">
    <div class="background">
      <div class="content">
        <div class="title">题目基本信息</div>
        <div class="box">
          <div class="input-box">
            <div class="tip">题目名称</div>
            <input class="input" type="text" placeholder="请输入题目名称" [(ngModel)]="operatQuestion.name">
          </div>

          <div class="input-box">
            <div class="tip">年级</div>
            <el-select [model]="operatQuestion.grade" style="width: 332px;height: 40px;" size="large"
              (modelChange)="changeGrade($event)">
              <el-option *ngFor="let item of grades" [label]="item.name" [value]="item.value">
              </el-option>
            </el-select>
          </div>
        </div>

        <div class="box" style="align-items:flex-start;">
          <div class="input-box" style="align-items:flex-start;">
            <div class="tip">科目</div>
            <div class="subject-box" *ngIf="subjects.length > 0">
              <div class="item" *ngFor="let subject of subjects;index as s">
                <div class="item-content" (click)="selectSubject(s)"
                  [ngStyle]="{'border': subject.status ? '1px solid #FF6F00' : '1px solid #F1EEEE' , 'color': subject.status ? '#FF6F00' : '#666666'}">
                  {{subject.value}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="input-box" style="align-items:flex-start;">
            <div class="tip" style="margin-top: 24px;">请选择封面</div>
            <div class="upload-box">
              <img (click)="clickUpload(1)" *ngIf="operatQuestion.image" [src]="operatQuestion.image" class="avatar">
              <input id="question-cover" class="upload" type="file" (change)="uploadCover($event.target.files)">
              <img class="icon" src="../../assets/common/common-upload.png" *ngIf="!operatQuestion.image"
                (click)="clickUpload(1)">
            </div>
            <div class="add-frame" (click)="addNewFrame(i)">增加新编辑框</div>
          </div>

         
        </div>

        <div class="diviler"></div>

        <div class="button-box">
          <div class="cancel" (click)="cancelEditQuestion()">取消</div>
          <div class="sure" (click)="submit()">保存</div>
        </div>
      </div>
    </div>
  </div>