.page
    .user-box
        position: fixed
        right: 48px
        top: 0
        display: flex
        flex-direction: row
        height: 60px
        align-items: center
        .user-tip
            font-size: 16px
            color: #ffffff
        .user-logout
            font-size: 16px
            color: #ffffff
            margin-left: 24px
            text-decoration: underline
            cursor: pointer
    .operation-box
        display: flex
        flex-direction: row
        align-items: center
        margin-top: 12px
        margin-right: 36px
        float: right
        .search
            width: 360px
            height: 28px
            border: 1px solid #999999
            border-radius: 2px
            padding: 6px 8px
            margin-right: 24px