<div class="page">
  <el-menu [model]="'1'" (modelChange)="modelChange($event)" class="el-menu" mode="horizontal"
    background-color="#545c64" active-text-color="#ffd04b" text-color="#fff">
    <el-menu-item index="1">同步书本</el-menu-item>
    <el-menu-item index="2">单道试题</el-menu-item>
  </el-menu>
  <div class="user-box">
    <div class="user-tip">{{userTip}}</div>
    <div class="user-logout" (click)="logout()">退出</div>
  </div>
  <div class="operation-box">
    <input class="search" type="text" [(ngModel)]="searchStr" placeholder="请输入要搜索的名称">
    <el-button type="primary">搜索</el-button>
    <el-button type="primary">添加新书本</el-button>
  </div>
</div>