<div class="page">
  <el-menu [model]="'1'" (modelChange)="modelChange($event)" class="el-menu" mode="horizontal"
    background-color="#545c64" active-text-color="#ffd04b" text-color="#fff">
    <el-menu-item index="1">同步书本</el-menu-item>
    <el-menu-item index="2">单道试题</el-menu-item>
  </el-menu>
  <div class="user-box">
    <div class="user-tip">{{userTip}}</div>
    <div class="user-logout" (click)="logout()">退出</div>
  </div>
  <app-book *ngIf="modelIndex==1"></app-book>
  <app-question *ngIf="modelIndex==2"></app-question>
</div>